@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600&display=swap');

body {
  background: #422d5d;
  margin: 0;
}
h1,h2,h3,h4,a,p,li {
  color: #decff1;
  font-family: 'Kanit', monospace;
  font-weight: normal;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

a, li {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: 100;
}
